@model Task.Models.Entities.Product
@{
    ViewBag.Title = "Select Quantity";
}

<br />
<h2 style="color: forestgreen; text-align: center;">@Model.Name - Select Quantity</h2>
<hr />

<form action="/Product/Ycart" method="post">

    <input type="hidden" class="form-control" value="@Model.Id" name="Id" />

    Name: <input type="text" class="form-control" value="@Model.Name" name="Name" readonly/>

    <br />Description: <input type="text" class="form-control" value="@Model.Description" name="Description" readonly/>

    <br />Quantity: <input type="number" class="form-control" value="@Model.Quantity" name="Quantity" />
    @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })

    <br />Price: <input type="number" class="form-control" value="@Model.Price" name="Price" readonly/>

    <br /><input type="submit" value="Add To Cart" class="btn btn-success" />
</form>
