@model List<Task.Models.Entities.Product>

@{
    ViewBag.Title = "Order";
}

<hr />
<h2 style="color:forestgreen; text-align: center">All Products</h2>
<table class="table table-bordered">
    <tr style="text-align: center;">
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Add To Cart</th>
    </tr>
    <!--dynamic row-->
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Description</td>
            <td>@s.Quantity</td>
            <td>@s.Price</td>
            <td><a href="/product/ycart/@s.Id" class="btn btn-success">Add To Cart</a></td>
        </tr>
    }
</table>
<p style="text-align: center;"><a href="/product/cart" class="btn btn-success">Check Cart</a></p>