@model IEnumerable<RMS.Models.VM.ManagersDetailVM>

@{
    ViewBag.Title = "List";
}

@if (Session["User"] == null)
{
    <h4 style="text-align: center; color:black">You Need To Log In First</h4>
    <h1 style="text-align: center;"><a class="btn btn-success" href="/Home/Login">Login Page</a></h1>
}
else
{
    <h4 style="text-align:right;">&infin; User @Session["User"] &infin;</h4>
    <hr />
    <h3 style="text-align:center">All Manager List</h3>
    <hr />

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                @if (item.UserId == (int)Session["Id"])
                {
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                }
                else
                {
                    <td style="color:red">No Access</td>
                }
            </tr>
        }

    </table>

    <hr />
    <p class="form-group" style="text-align:center">
        <a class="btn btn-warning" href="/Home/Index">Back To Home</a>
    </p>
}

